<div class="container-fluid" ng-controller="statisticCtrl" >
    <div class="row">

        <div class="col-md-1 sidebar">

            <ul class="nav nav-sidebar">

                <li class="scroll"><a href="#statistics">Statistics</a></li>

            </ul>

        </div>

        <div class="col-md-7 col-md-offset-1 main">
            <h3 class="sub-header" id="statistics">Statistics </h3>
            <p>
            Currently, there are 5605 unique Patch Requests submitted. More statistics coming soon!
            </p>
        </div>
    </div>
</div>



