@main("PatchR Ontology") {
    <div class="container-fluid">
        <div class="row">
            @sidebar(Array(Array("Ontology")))

            <div class="col-md-7 col-md-offset-1 main">
                <h2 class="page-header" id="ontology">Ontology</h2>

                <h3 class="sub-header">About the PatchR Repository</h3>
                <p>The Web of Data is by no means a perfect world that consists of consistent and valid facts represented by RDF (Resource Description Framework) triples based on RDFS (RDF Schema) and OWL (Web Ontology Language) ontologies. Inconsistencies, ambiguities, confused or conflicting categorization systems, as well as pointless and futile facts need to be identified, reported and straightened out.

                    Defects in linked datasets, e.g. semantic and factual errors are hard to detect in an automated manner. Furthermore, the revision of certain errors requires extensive processing of linked datasets. Therefore, we propose a general workflow to share updates between dynamically linked datasets.

                    workflow diagramm for creating and applying a patch
                    As shown in the workflow diagram, multiple agents independently make use of a particular dataset, accessing it directly or as a local copy. When an agent, whereby the agent may be human or an algorithm, identifies inconsistent facts (RDF triples) in the dataset, he can create a patch request. The patch request describes the update that has to be performed on the dataset to solve the identified issue. An update consists of a set of triples to add and a set of triples to delete in the dataset.

                    This website showcases a simple collaborative workflow for cleansing linked data resources. We gather information about possible flaws in the DBpedia dataset with the help the WhoKnows? game. Detected errors and appropriate updates are published using the Patch Request Ontology (patchR). The repository provides access to corresponding SPARQL updates.

                    So far, the implemented functionality is work in progress, further updates might include:

                    login and rating functionalitys for patches
                    download of SPARQL update statements for single patches and groups of patches
                    better search functionality for patches
                    API to submit patches to the repository
                    making patches available trough a SPARQL endpoint
                    You are welcome to send your comments to: Johannes Hercher or Magnus Knuth.

                    Stay tuned!</p>
            </div>
        </div>
    </div>
}
