<table class="table table-condensed">
    <thead>
    <tr><th>action</th> <th>advocates</th> <th>critics</th> <th>subject</th> <th>predicate</th> <th>object</th> <th>graph</th> <th>last time</th></tr>
    </thead>
    <tbody>
    <tr class="insert">
        <td>insert</td>
        <td>5</td>
        <td>0</td>
        <td><a href="./resource.php?res=dbp:Oregon" title="Show Patch Requests for this Resource">dbp:Oregon</a><br><small>Links: <a href="http://dbpedia.org/resource/Oregon" target="_blank" title="Open DBpedia page in new tab">DBpedia</a>, <a href="http://en.wikipedia.org/wiki/Oregon" target="_blank" title="Open Wikipedia page in new tab">Wikipedia</a></small></td>
        <td>dbo:language</td>
        <td>dbp:English_language</td>
        <td>http://dbpedia.org/</td>
        <td>2012-04-17 11:24:49</td>
    </tr>
    </tbody>
</table>